tr[data-setting-id],
tr[data-setting-id] label {
	opacity: 1;
	clip: initial;
	height: inherit;
	width: inherit;
	overflow:inherit;
	position:relative;
	transition: opacity ease 0.5s, height 0s ease 0.5s, width 0s ease 0.5s, clip 0s ease 0.5s, overflow 0s ease 0.5s, position 0s ease 0.5s;
}

table[data-layout="slim"] tr[data-setting-id="tracklist"],
table[data-layout="slim"] tr[data-setting-id="artwork"] label[for="artwork_big"],
table[data-layout="slim"] tr[data-setting-id="height"],
table[data-layout="artwork"] tr[data-setting-id="tracklist"],
table[data-layout="artwork"] tr[data-setting-id="artwork"],
table[data-layout="artwork"] tr[data-setting-id="height"],
table:not([data-layout="artwork"]) tr[data-setting-id="width"] .description span,
table[data-layout="standard"][data-tracklist="false"] tr[data-setting-id="height"] {
	opacity:0;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
